

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30%;
  height: 3em;
  background-color: rgba(255,255,255,0.1);
  backdrop-filter: blur(4px);
  border-radius: 0.8rem;
  text-align: center;
  box-shadow: 0 .4rem .8rem #0005;
}


.buttonSalir{
  height: 40px;
  width: 40px;
  cursor: pointer;
  border: none;
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: 0.8rem;
  background: rgb(15, 128, 159);
  color: #fff;
}

.buttonSalir:hover{
  scale: 1.02;
  background-color: #fff ;
  color: rgb(15, 128, 159);
  box-shadow: inset 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff;
}

.header_titulo{
  font-size: 1.6em;
  font-weight: 600;
  color: #fff;
  cursor: pointer;

}

.header_encargadoCaja{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1.1em;
  color: #fff;
  cursor: pointer;
}

.main{
  height: calc(100vh - 3em);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form{
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(9px);
  height: 350px;
  width: 400px;
  border-radius: 0.8rem;
  text-align: center;
  border: none;
  box-shadow: 0 .3rem .6rem #0005;
}

.h2{
  font-weight: 600;
  border:none;
  font-size: 1.6em;
  margin-top: 20px;
  color: rgb(37, 49, 63);
}

.div1{
  display: flex;
  margin-top: 40px;
}

.div{
  display: flex;
  margin-top: 15px;
}

.h3_CUIT{
  margin-left:76px;
}

.inputCUIT{
  border-radius: .4rem;
  border:none;
  box-shadow: 0 .4rem .8rem #0005;
  font-size: 15px;
  font-weight: 600;
  padding-left: 7px;
  padding-right: 7px;
  margin-left: 48px;
  backdrop-filter: blur(40px);
  background: rgba(255,255,255,.7);
}

.inputCUIT:focus{
  outline: none;
  box-shadow: inset 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff;
  background-color: #fff;
}

.h3_razonSocial{
  margin-left:50px;
}

.inputRazonSocial{
  border-radius: .4rem;
  border:none;
  box-shadow: 0 .4rem .8rem #0005;
  font-size: 15px;
  font-weight: 600;
  padding-left: 7px;
  padding-right: 7px;
  margin-left: 19px;
  backdrop-filter: blur(40px);
  background: rgba(255,255,255,.7);
}

.inputRazonSocial:focus{
  outline: none;
  box-shadow: inset 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff;
  background-color: #fff;
}

.h3_direccion{
  margin-left:57px;
}

.inputDireccion{
  border-radius: .4rem;
  border:none;
  box-shadow: 0 .4rem .8rem #0005;
  font-size: 15px;
  font-weight: 600;
  padding-left: 7px;
  padding-right: 7px;
  margin-left: 32px;
  backdrop-filter: blur(40px);
  background: rgba(255,255,255,.7);
}

.inputDireccion:focus{
  outline: none;
  box-shadow: inset 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff;
  background-color: #fff;
}

.h3_telefono{
  margin-left:58px;
}

.inputTelefono{
  border-radius: .4rem;
  border:none;
  box-shadow: 0 .4rem .8rem #0005;
  font-size: 15px;
  font-weight: 600;
  padding-left: 7px;
  padding-right: 7px;
  margin-left: 39px;
  backdrop-filter: blur(40px);
  background: rgba(255,255,255,.7);
}

.inputTelefono:focus{
  outline: none;
  box-shadow: inset 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff;
  background-color: #fff;
}


.button{
  margin-top: 40px;
  width: 100px;
  cursor: pointer;
  border:none;
  box-shadow: 0 .1rem .2rem rgb(7, 38, 70);
  background-color: rgb(15, 128, 159);
  color: #fff;
  font-size: 1.1em;
  padding-bottom: 1px;
  height: 1.9em;
  padding-right: 7px;
  padding-left: 7px;
  border-radius: .5rem;
}

.button:hover{
  padding-bottom: 1px;
  scale: 1.06;
  box-shadow: inset 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff;
  background-color: #fff;
  color: rgb(15, 128, 159);
  font-weight: 600;
}