

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30%;
  height: 3em;
  background-color: rgba(255,255,255,0.1);
  backdrop-filter: blur(4px);
  border-radius: 0.8rem;
  text-align: center;
  box-shadow: 0 .4rem .8rem #0005;
}

.buttonSalir{
  height: 40px;
  width: 40px;
  cursor: pointer;
  color: black;
  border: none;
  background: rgba(255,255,255,0.6);
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: 0.8rem;
  box-shadow: inset 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff;
  color: #fff;
}

.buttonSalir:hover{
  scale: 1.02;
  color: rgb(166, 218, 255);
}

.header_h2{
  font-size: 1.6em;
  font-family: 'Playfair Display', serif;
  font-weight: 100;
  color: #fff;
}

.header_h2:hover{   
  cursor: pointer;
}

.header_encargadoCaja{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #fff;
  font-size: 1.1em;
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #fff , 0 0 70px #fff , 0 0 80px #fff , 0 0 100px #fff ;

}

.header_encargadoCaja:hover{
  cursor: pointer;
}

.main{
  height: calc(100vh - 3em);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form{
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(7px);
  height: 350px;
  width: 400px;
  border-radius: 0.8rem;
  text-align: center;
  border: none;
  box-shadow: 0 .4rem .8rem #0005;
  box-shadow: inset 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff;
}

.h2{
  font-weight: 600;
  border:none;
  font-size: 1.4em;
  margin-top: 20px;
}

.div1{
  display: flex;
  margin-top: 40px;
}

.div{
  display: flex;
  margin-top: 15px;
}

.h3_CUIT{
  margin-left:76px;
  font-style: italic;
}

.inputCUIT{
  border-radius: 10px;
  border:none;
  box-shadow: 0 .4rem .8rem #0005;
  font-size: 15px;
  font-weight: 600;
  padding-left: 7px;
  padding-right: 7px;
  margin-left: 48px;
  background: none;
}

.inputCUIT:focus{
  outline: none;
  box-shadow: inset 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff;
  background-color: #fff;
}

.h3_razonSocial{
  margin-left:50px;
  font-style: italic;
}

.inputRazonSocial{
  border-radius: 10px;
  border:none;
  box-shadow: 0 .4rem .8rem #0005;
  font-size: 15px;
  font-weight: 600;
  padding-left: 7px;
  padding-right: 7px;
  margin-left: 19px;
  background: none;
}

.inputRazonSocial:focus{
  outline: none;
  box-shadow: inset 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff;
  background-color: #fff;
}

.h3_direccion{
  margin-left:57px;
  font-style: italic;
}

.inputDireccion{
  border-radius: 10px;
  border:none;
  box-shadow: 0 .4rem .8rem #0005;
  font-size: 15px;
  font-weight: 600;
  padding-left: 7px;
  padding-right: 7px;
  margin-left: 32px;
  background: none;
}

.inputDireccion:focus{
  outline: none;
  box-shadow: inset 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff;
  background-color: #fff;
}

.h3_telefono{
  margin-left:58px;
  font-style: italic;
}

.inputTelefono{
  border-radius: 10px;
  border:none;
  box-shadow: 0 .4rem .8rem #0005;
  font-size: 15px;
  font-weight: 600;
  padding-left: 7px;
  padding-right: 7px;
  margin-left: 39px;
  background: none;
}

.inputTelefono:focus{
  outline: none;
  box-shadow: inset 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff;
  background-color: #fff;
}


.button{
  margin-top: 50px;
  height: 25px;
  width: 100px;
  border-radius: 0.8rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  border:none;
  box-shadow: 0 .4rem .8rem #0005;
  background: none;
}

.button:hover{
  scale: 1.02;
  padding-bottom: 1px;
  box-shadow: inset 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff;
  background-color: #fff;
}