

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30%;
  height: 3em;
  background-color: rgba(255,255,255,0.1);
  backdrop-filter: blur(4px);
  border-radius: 0.8rem;
  text-align: center;
  box-shadow: 0 .4rem .8rem #0005;
}


.buttonSalir{
  height: 40px;
  width: 40px;
  cursor: pointer;
  border: none;
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: 0.8rem;
  background: rgb(15, 128, 159);
  color: #fff;
}

.buttonSalir:hover{
  scale: 1.02;
  background-color: #fff ;
  color: rgb(15, 128, 159);
  box-shadow: inset 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff;
}

.header_titulo{
  font-size: 1.6em;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  

}

.header_encargadoCaja{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1.1em;
  color: #fff;
  cursor: pointer;
}

.main{
  height: calc(100vh - 3em);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form{
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(9px);
  height: 350px;
  width: 400px;
  border-radius: 0.8rem;
  text-align: center;
  border: none;
  box-shadow: 0 .4rem .8rem #0005;
}

.h2{
  font-weight: 600;
  border:none;
  font-size: 1.6em;
  margin-top: 20px;
}

.h3_CUIT{
  margin-top: 20px;
  margin-bottom: 25px;
  font-style: italic;
}

.div{
  display: flex;
  margin-top: 15px;
}

.h3DNI{
  margin-left:85px;
  font-size: 1.2em;
}

.inputDNI{
  border-radius: .4rem;
  border:none;
  box-shadow: 0 .4rem .8rem #0005;
  font-size: 1em;
  font-weight: 600;
  margin-left: 42px;
  padding-left: 7px;
  padding-right: 7px;
  backdrop-filter: blur(40px);
  background: rgba(255,255,255,.7);
}

.inputDNI:focus{
  outline: none;
  box-shadow: inset 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff;
  background-color: #fff;
  
}

.inputDNI::placeholder{
  font-size: 1.1em;
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-style: italic;
}

.h3Nombre{
  margin-left:67px;
  font-size: 1.2em;
}

.inputNombre{
  border-radius: .4rem;
  border:none;
  box-shadow: 0 .4rem .8rem #0005;
  font-size: 1em;
  font-weight: 600;
  padding-left: 7px;
  padding-right: 7px;
  margin-left: 27px;
  backdrop-filter: blur(40px);
  background: rgba(255,255,255,.7);
  outline: none;
}

.inputNombre:focus{
  box-shadow: inset 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff;
  background-color: #fff;
  padding-left: 7px;
  padding-right: 7px;
}

.inputNombre::placeholder{
  font-size: 1.1em;
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-style: italic;
}

.h3Apellido{
  margin-left:68px;
  font-size: 1.2em;
}

.inputApellido{
  border-radius: .4rem;
  border:none;
  box-shadow: 0 .4rem .8rem #0005;
  font-size: 1em;
  font-weight: 600;
  margin-left: 27px;
  backdrop-filter: blur(40px);
  background: rgba(255,255,255,.7);
  outline: none;
  padding-left: 7px;
  padding-right: 7px;
}

.inputApellido:focus{
  box-shadow: inset 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff;
  background-color: #fff;
}

.inputApellido::placeholder{
  font-size: 1.1em;
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-style: italic;
}

.h3Servicio{
  margin-left:68px;
  font-size: 1.2em;
}

.inputServicio{
  border-radius: .4rem;
  border:none;
  box-shadow: 0 .4rem .8rem #0005;
  font-size: 1em;
  font-weight: 600;
  margin-left: 29px;
  backdrop-filter: blur(40px);
  background: rgba(255,255,255,.7);
  outline: none;
  padding-left: 7px;
  padding-right: 7px;
}

.inputServicio:focus{
  box-shadow: inset 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff;
  background-color: #fff;
}

.inputServicio::placeholder{
  font-size: 1.1em;
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-style: italic;
}


.button{
  margin-top: 30px;
  width: 100px;
  border: none;
  margin-left: 10px;
  background: none;
  padding-bottom: 1px;
  box-shadow: 0 .1rem .2rem rgb(7, 38, 70);
  background-color: rgb(15, 128, 159);
  cursor: pointer;
  color: #fff;
  font-size: 1.1em;
  height: 1.9em;
  padding-right: 7px;
  padding-left: 7px;
  border-radius: .5rem;
  background-color: rgb(15, 128, 159);
}

.button:hover{
  padding-bottom: 1px;
  scale: 1.06;
  box-shadow: inset 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff;
  background-color: #fff;
  color: rgb(15, 128, 159);
}