

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30%;
  height: 3em;
  background-color: rgba(255,255,255,0.1);
  backdrop-filter: blur(4px);
  border-radius: 0.8rem;
  text-align: center;
  box-shadow: 0 .4rem .8rem #0005;
}

.buttonSalir{
  height: 40px;
  width: 40px;
  cursor: pointer;
  border: none;
  background: rgba(255,255,255,0.6);
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: 0.8rem;
  color: #fff;
}

.buttonSalir:hover{
  scale: 1.02;
  box-shadow: inset 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff;
}

.header_titulo{
  font-size: 1.6em;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1);

}

.header_encargadoCaja{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1.1em;
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1);
  color: #fff;
  cursor: pointer;
}

.main{
  height: calc(100vh - 3em);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form{
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(7px);
  height: 350px;
  width: 400px;
  border-radius: 0.8rem;
  text-align: center;
  border: none;
  box-shadow: 0 .4rem .8rem #0005;
  box-shadow: inset 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff;
}

.h2{
  font-weight: 600;
  border:none;
  font-size: 1.6em;
  margin-top: 20px;
}

.h3_CUIT{
  margin-top: 20px;
  margin-bottom: 25px;
  font-style: italic;
}

.div{
  display: flex;
  margin-top: 15px;
}

.h3DNI{
  margin-left:65px;
  font-style: italic;
  font-size: 1.2em;
}

.inputDNI{
  border-radius: 10px;
  border:none;
  box-shadow: 0 .4rem .8rem #0005;
  font-size: 1em;
  font-weight: 600;
  margin-left: 42px;
  padding-left: 7px;
  padding-right: 7px;
  background: none;
  width: 220px;
}

.inputDNI:focus{
  outline: none;
  box-shadow: inset 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff;
  background-color: #fff;
  
}

.inputDNI::placeholder{
  font-size: 1.1em;
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-style: italic;
}

.h3Nombre{
  margin-left:47px;
  font-style: italic;
  font-size: 1.2em;
}

.inputNombre{
  border-radius: 10px;
  border:none;
  box-shadow: 0 .4rem .8rem #0005;
  font-size: 1em;
  font-weight: 600;
  padding-left: 7px;
  padding-right: 7px;
  margin-left: 27px;
  background: none;
  outline: none;
  width: 220px;
}

.inputNombre:focus{
  box-shadow: inset 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff;
  background-color: #fff;
  padding-left: 7px;
  padding-right: 7px;
}

.inputNombre::placeholder{
  font-size: 1.1em;
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-style: italic;
}

.h3Apellido{
  margin-left:48px;
  font-style: italic;
  font-size: 1.2em;
}

.inputApellido{
  border-radius: 10px;
  border:none;
  box-shadow: 0 .4rem .8rem #0005;
  font-size: 1em;
  font-weight: 600;
  margin-left: 27px;
  background: none;
  width: 220px;
  outline: none;
  padding-left: 7px;
  padding-right: 7px;
}

.inputApellido:focus{
  box-shadow: inset 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff;
  background-color: #fff;
}

.inputApellido::placeholder{
  font-size: 1.1em;
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-style: italic;
}

.h3Servicio{
  margin-left:48px;
  font-style: italic;
  font-size: 1.2em;
}

.inputServicio{
  border-radius: 10px;
  border:none;
  box-shadow: 0 .4rem .8rem #0005;
  font-size: 1em;
  font-weight: 600;
  margin-left: 29px;
  background: none;
  width: 220px;
  outline: none;
  padding-left: 7px;
  padding-right: 7px;
}

.inputServicio:focus{
  box-shadow: inset 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff;
  background-color: #fff;
}

.inputServicio::placeholder{
  font-size: 1.1em;
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-style: italic;
}


.button{
  margin-top: 50px;
  height: 25px;
  width: 100px;
  border-radius: 0.8rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.1em;
  border:none;
  box-shadow: 0 .4rem .8rem #0005;
  background: none;
}

.button:hover{
  scale: 1.02;
  padding-bottom: 1px;
  box-shadow: inset 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff;
  background-color: #fff;
}