

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30%;
  height: 3em;
  background-color: rgba(255,255,255,0.1);
  backdrop-filter: blur(4px);
  border-radius: 0.8rem;
  text-align: center;
  box-shadow: 0 .4rem .8rem #0005;
}


.buttonSalir{
  height: 40px;
  width: 40px;
  cursor: pointer;
  border: none;
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: 0.8rem;
  background: rgb(0, 52, 108);
  color: #fff;
}

.buttonSalir:hover{
  scale: 1.02;
  background-color: #fff ;
  color: rgb(0, 52, 108);
  box-shadow: inset 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff;
}

.header_titulo{
  font-size: 1.6em;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  

}

.header_encargadoCaja{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1.1em;
  color: #fff;
  cursor: pointer;
}

.main{
  height: calc(100vh - 3em);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form{
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(7px);
  height: 350px;
  width: 400px;
  border-radius: 0.8rem;
  text-align: center;
  border: none;
  box-shadow: 0 .4rem .8rem #0005;
  box-shadow: inset 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff;
}

.h2{
  font-weight: 600;
  border:none;
  font-size: 1.6em;
  margin-top: 20px;
  color: rgb(37, 49, 63);
}

.h3_CUIT{
  margin-top: 20px;
  margin-bottom: 25px;
  font-style: italic;
  color: rgb(37, 49, 63);
}

.div{
  display: flex;
  margin-top: 15px;
}

.h3_razonSocial{
  margin-left:40px;
  font-size: 1.2em;
}

.inputRazonSocial{
  border-radius: 10px;
  border:none;
  box-shadow: 0 .4rem .8rem #0005;
  font-size: 1em;
  font-weight: 600;
  margin-left: 9px;
  padding-left: 7px;
  padding-right: 7px;
  background: none;
  width: 220px;
}

.inputRazonSocial:focus{
  outline: none;
  box-shadow: inset 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff;
  background-color: #fff;
  
}

.inputRazonSocial::placeholder{
  font-size: 1.1em;
  color: #000;
  
  font-weight: normal;
}

.h3_direccion{
  margin-left:47px;
  font-size: 1.2em;
}

.inputDireccion{
  border-radius: 10px;
  border:none;
  box-shadow: 0 .4rem .8rem #0005;
  font-size: 1em;
  font-weight: 600;
  padding-left: 7px;
  padding-right: 7px;
  margin-left: 22px;
  background: none;
  outline: none;
  width: 220px;
}

.inputDireccion:focus{
  box-shadow: inset 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff;
  background-color: #fff;
  padding-left: 7px;
  padding-right: 7px;
}

.inputDireccion::placeholder{
  font-size: 1.1em;
  color: #000;
  font-weight: normal;
}

.h3_telefono{
  margin-left:48px;
  font-size: 1.2em;
}

.inputTelefono{
  border-radius: 10px;
  border:none;
  box-shadow: 0 .4rem .8rem #0005;
  font-size: 1em;
  font-weight: 600;
  margin-left: 29px;
  background: none;
  width: 220px;
  outline: none;
  padding-left: 7px;
  padding-right: 7px;
}

.inputTelefono:focus{
  box-shadow: inset 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff;
  background-color: #fff;
}

.inputTelefono::placeholder{
  font-size: 1.1em;
  color: #000;
  font-weight: normal;
}


.button{
  margin-top: 40px;
  height: 25px;
  width: 100px;
  border-radius: 0.8rem;
  cursor: pointer;
  border:none;
  box-shadow: 0 .1rem .2rem rgb(7, 38, 70);
  background-color: rgb(0, 52, 108);
  color: #fff;
  font-size: 1.1em;
}

.button:hover{
  padding-bottom: 1px;
  scale: 1.06;
  box-shadow: inset 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff;
  background-color: #fff;
  color: #000;
  font-weight: 600;
}