* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
    background: url("../../images/backiee-73460-landscape.jpg") center / cover;
    align-items: center;
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30%;
  height: 3em;
  background-color: rgba(255,255,255,0.1);
  backdrop-filter: blur(4px);
  border-radius: 0.8rem;
  text-align: center;
  box-shadow: 0 .4rem .8rem #0005;
}

.buttonSalir{
  height: 40px;
  width: 40px;
  cursor: pointer;
  border: none;
  background: rgba(255,255,255,0.6);
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: 0.8rem;
  
  color: #fff;
}

.buttonSalir:hover{
  scale: 1.02;
  box-shadow: inset 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff;
}

.header_titulo{
  font-size: 1.6em;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1);

}

.header_encargadoCaja{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1.1em;
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1);
  color: #fff;
  cursor: pointer;
}

.form{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 .4rem .8rem #0005;
  background-color: rgba(255,255,255,0.4);
  backdrop-filter: blur(10px);
  border-radius: 0.8rem;
  width: 80vw;
  text-align: center;
  margin-left: 10vw;
  margin-top: .8rem;
}

.busqueda{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  gap: 12px;
}

.botones{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  gap: 50%;
}


.form_input{
  height: 20px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 .2rem .4rem #0005;
  background: none;
  outline: none;
  font-size: 1.1em;
}

.form_input::placeholder{
  font-size: 1.1em;
  color: #fff;
  text-align: center;
}

.form_input:focus{
  box-shadow: inset 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff;
  background-color: #fff;
  padding-left: 7px;
  padding-right: 7px;
}

.form_buttonBuscar{
  color: #fff;
  border: none;
  background: none;
  border-radius: 0.8rem;
  cursor: pointer;
}

.form_buttonAgregar{
  height: 24px;
  width: 200px;
  border-radius: 0.8rem;
  font-size: 15px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  background: none;
  font-size: 1.2em;
}

.form_buttonAgregar:hover{
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #fff , 0 0 70px #fff , 0 0 80px #fff , 0 0 100px #fff ;

}

.divTabla{
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
    overflow: overlay;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .7rem rgba(0, 0, 0, 0.4);
}

.divTabla::-webkit-scrollbar{
  width: 0.5rem;
  height: 0.5rem;
}

.divTabla::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  background-color: #0004;
  visibility: hidden;
}

.divTabla:hover::-webkit-scrollbar-thumb{ 
  visibility: visible;
}

.table{
    width: 100%;
    font-size: 1.1em;
}

.buttonEliminar{
  height: 40px;
  width: 40px;
  margin-left: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  border: none;
  background: transparent;
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: 0.8rem;
  background: none;
  color: rgb(254, 0, 10);
}

i{
  width: 100%;
  scale: 1.4;
}

.buttonEliminar:hover{
  scale: 1.06;
  box-shadow: inset 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff;
  background-color: #fff;
  
}

.buttonEditar{
  height: 40px;
  width: 40px;
  margin-left: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  border: none;
  background: transparent;
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: 0.8rem;
  background: none;
  color: rgb(37, 79, 244);
}

.buttonEditar:hover{
  scale: 1.06;
  box-shadow: inset 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff;
  background-color: #fff;
  
}

.buttonAgregarTecnico{
  height: 40px;
  width: 40px;
  margin-left: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  background: none;
  color: rgb(33, 255, 40);
  border: none;
  background: transparent;
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: 0.8rem;
}

.buttonAgregarTecnico:hover{
  scale: 1.06;
  box-shadow: inset 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff;
  background-color: #fff;
  
}

.buttonCompras{
  height: 40px;
  width: 40px;
  margin-left: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  background: none;
  color: rgb(151, 59, 250);
  border: none;
  background: transparent;
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: 0.8rem;
}

.buttonCompras:hover{
  scale: 1.06;
  box-shadow: inset 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff;
  background-color: #fff;
  
}

td img {
  width: 36px;
  height: 36px;
  margin-right: .5rem;
  border-radius: 50%;

  vertical-align: middle;
}

table, th, td {
  border-collapse: collapse;
  padding: 1rem;
  text-align: left;
}

thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  cursor: pointer;
  text-transform: capitalize;
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: rgba(255,255,255,0.6);
}

tbody tr {
  --delay: .1s;
  transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
  opacity: 0;
  transform: translateX(100%);
}

tbody tr:hover {
  background-color: rgba(61, 61, 61, 0.2) !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
  transition: .2s ease-in-out;
  text-align: center;
}

tbody tr.hide td,
tbody tr.hide td p {
  padding: 0;
  font: 0 / 0 sans-serif;
  transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
  width: 0;
  height: 0;
  transition: .2s ease-in-out .5s;
}

