.principal{
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30%;
  box-shadow: 0 .4rem .8rem #0005;
  height: 3em;
  background-color: rgba(255,255,255,0.1);
  backdrop-filter: blur(4px);
  border-radius: 0.8rem;
  text-align: center;
}

.buttonSalir{
  height: 40px;
  width: 40px;
  cursor: pointer;
  color: black;
  border: none;
  background: rgba(255,255,255,0.6);
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: 0.8rem;
}

.buttonSalir:hover{
  scale: 1.02;
  box-shadow: inset 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff;
}

.header_h2{
  font-size: 1.5em;
}

.header_p{
  font-size: 0.8em;
}

.form{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 .4rem .8rem #0005;
  background-color: rgba(255,255,255,0.4);
  backdrop-filter: blur(7px);
  border-radius: 0.8rem;
  width: 80vw;
  text-align: center;
  margin-left: 10vw;
  margin-top: .8rem;
}

.busqueda{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  gap: 15px;
}

.divTabla{
  width: 95%;
  max-height: calc(89% - 1.6rem);
  background-color: #fffb;
  margin: .8rem auto;
  border-radius: .6rem;
  overflow: auto;
  overflow: overlay;
  backdrop-filter: blur(7px);
  box-shadow: 0 .4rem .8rem #0005;
}

.divTabla::-webkit-scrollbar{
width: 0.5rem;
height: 0.5rem;
}

.divTabla::-webkit-scrollbar-thumb{
border-radius: .5rem;
background-color: #0004;
visibility: hidden;
}

.divTabla:hover::-webkit-scrollbar-thumb{ 
visibility: visible;
}

.table{
  width: 100%;
}